@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.days-one-regular {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.wallpoet-regular {
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cursive-regular {
    font-family: cursive;
    font-weight: 400;
    font-style: italic;
}

#game-run-code-button:hover #run-div-tick,
#game-run-code-button:hover #run-div-unchecked {
    color: #ffffff;
}